
body{
    background-color: black;
}

/*.nav_bar{*/
/*     background: transparent;*/
/*    position: absolute;*/
/*    left: 0.5vw;*/
/*    width: 300px;*/
/*    height: 100%;*/
/*    border:  solid 2px;*/
/*    box-shadow: 1px 1px 60px 10px ;*/
/*    border-radius: 10px;*/

/*    padding: 20px;*/

/*}*/
/*.nav-link{*/
/*    display: flex;*/
/*    top: 20vw;*/
/*    font-size: 40px;*/
/*    margin-top: 20px;*/
/*    color: black;*/
/*}*/
a{
    position: relative;
    top: 10vw;
    color: black;
}
.img{
    position: absolute;
    width: 100vw;
    height: 100%;

}
#icon{
    position: absolute;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}
/*///////////////////////*/
.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    top: 5vw;
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    top: 5vw;
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    top: 5vw;
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    top: 5vw;
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.nav-item{
    position: relative;
    top: 1vw;
    color: black;
}
h1{
    position: relative;
    left: 25vw;
    font-size: 40px;
}
.navbar-nav{
    background-color: dodgerblue;
    border-radius: 20px;
}
/*/////////////////////*/
