body{
    width: 100%;
    height: 45vw;
    background-image: url("../img/item.jpg");
}

.background{
    position: relative;
}
.container{
    /*width: 100vw;*/
    /*height: 40vw;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0px;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*!*border: white solid 2px;*!*/
    /*box-shadow: 1px 1px 60px 10px ;*/
    /*border-radius: 10px;*/
}

.container-box {
    position: relative;
    top: 5vw;
    height: 500px;
    border:  solid 2px;
    box-shadow: 1px 1px 60px 10px ;
    border-radius: 10px;

    padding: 20px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    color: red;
    padding: 7px 0;
    background: transparent;
    transition: 0.2s;
}

.mb-3{
    position: relative;
    top: 40px;
}
.redio{
    position: relative;
    top: 40px;
}
.mt-4 {
    position: relative;
    top: 40px;
}
h1{
    color: red;
    position: relative;
    width: fit-content;
    top: 0px;
    left: 25vw;
    text-align: center;
    font-size: 20px;

}
.table{
    /*width:38vw;*/
    /*height: 60px;*/
    /*position: relative;*/
    /*top: 60px;*/

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgb(254, 1, 1) 0px 3px 6px;
}
.form-check-label{
    color: red;
}
.form__field{
    top: 0;
    width: 25vw;
}
#data{
    /*position: relative;*/
    /*top: 4vw;*/
    /*left: 10px;*/
    /*box-shadow: 1px 1px 60px 10px ;*/
    /*border-radius: 10px;*/
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgb(1, 254, 60) 0px 2px 4px -1px;*/
}

.form-col {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.form-block {
    width: fit-content;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgb(1, 254, 60) 0px 2px 4px -1px;
    padding: 20px;
}

