body{
    background-image: url("../img/backgrownd.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Times New Roman";
}
section{
    position: relative;
}
section>div>h1{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 200px;
}
section>div>h3{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 250px;
}
.main{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 75px;
    left: 25vw;
    border-bottom: lawngreen solid 2px;
    border-left: lawngreen solid 2px;
    margin: 0;
}

#welcome{
    position: absolute;
    top: 5vw;
    left: 5vw;
    font-size: 70px;
    width: fit-content;
    color: RED;
}
h3{
    position: relative;
    top: 5vw;
    left: 8vw;
    font-size: 20px;
}
.img{
    position: relative;
    width: 40px;
    top: 5vw;
    left: 9vw;
}

.main>div{
    position: absolute;
    right: 5vw;
    padding: 50px;
    top:100px;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(50px);
    color: white;
}

.main>div>h1{
    margin-top: 0;
}
.mb-3{
    position: relative;
    margin: 20px 0;
}
.form-control-input {
    position: relative;
    background: transparent;
    box-shadow: rgba(0,0,0,0.4);
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    bottom: 0;
    padding: 0;
}
.form-control-input:focus {
    outline: none;
}
.form-control-input:focus + .form-label,
.form-control-input.not-empty + .form-label {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
}
.form-label {
    position: absolute;
    left: 10px;
    bottom: 11px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    color: red;
    font-size: 20px;
    /*color: white;*/
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}
#creat{
    position: relative;
    top: 7vw;
    left: 4vw;
    font-size: 25px;
}
