
body{
    background-color: black;
}
.container{
    /*position: absolute;*/
    top: 10vw;
    /*width: 80vw;*/
    /*left: 10vw;*/
}
.navbar-nav{
    position: absolute;
}
h1{
    position: absolute;
    top: 0;
    width: 40vw;
    font-size: 25px;
    left: 40vw;
}
.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 50px;
    color: white;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.mb-3{
    position: relative;
    margin: 20px 0;
}
.form-control-input {
    position: relative;
    background: transparent;
    box-shadow: rgba(0,0,0,0.4);
    color: white;
    display: block;
    width: 70%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color:white;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    bottom: 0;
    padding: 0;
}
.form-control-input:focus {
    outline: none;
}
.form-control-input:focus + .form-label,
.form-control-input.not-empty + .form-label {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
}
.form-label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: white;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

table{
    position: relative;
    top: 5vw;
    margin: 0;
}

#data{
    position: relative;
    top: 2vw;
    box-shadow: 1px 1px 60px 10px ;
    border-radius: 10px;
}
#data1{
    position: relative;
    top: 2vw;
    box-shadow: 1px 1px 60px 10px ;
    border-radius: 10px;
}
#data2{
    position: relative;
    top: 2vw;
    box-shadow: 1px 1px 60px 10px ;
    border-radius: 10px;
}

.row{
    margin-top: 0;
}

.topic{
    color: white;
    text-align: center;
}

.btn{
    align-content: center;
    font-size: 30px;
}


#total-text{
    color: white;
    font-size: 20px;
}
#total{
    color: white;
    font-size: 40px;
}
.unit{
    color: white;
    font-size: 20px;
}
.navbar-expand-lg{
    position: relative;
    top: 0vw;
    height: 50px;
}